<?xml version="1.0" encoding="UTF-8"?>
<!-- Add this entry to TE_BASE/config.xml (//organization/standard) -->
<organization>
  <name>OGC</name>
  <standard>
    <name>Geography Markup Language (GML)</name>
    <version>
      <name>${spec-version}</name>
      <suite>
        <namespace-uri>http://www.opengis.net/cite/iso19136</namespace-uri>
        <prefix>tns</prefix>
        <local-name>ets-${ets-code}-${version}</local-name>
        <title>GML 3.2 (ISO 19136:2007) Conformance Test Suite</title>
        <description>Checks GML application schemas or data sets for conformance to ISO 19136:2007.</description>
      </suite>
      <revision>
        <name>${version}</name>
        <status>Beta</status>
        <sources>
          <source>${ets-code}/${spec-version}/ctl</source>
        </sources>
        <webdir>${ets-code}/${spec-version}/site</webdir>
      </revision>
    </version>
  </standard>
</organization>
